.filter-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

.filter-tittle{
    font-weight: bold;
    font-size:20px;
}

.search-input{
    border:1px solid black;
    padding:5px;
    width:225px;
    border-radius:8px;
    box-shadow:1px 1px 5px rgba(78, 78, 78, 0.301);
}
