.selected-product-container{
    border-radius:20px;
    width: 900px;
}

.return-button{
    width: 100px;
}

.product-item-image{
    width: 500px;
    border-radius:15px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.363);
}

.info-container{
    padding: 15px;
    display: flex;
    flex-flow:column nowrap;
    width: 100%;
    height:400px;
}

.product-details{
    width: 100%;
    height:45%;
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
}

.for-only{
    text-align: start;
    font-size:25px;
}

.product-item-information{
    display: flex;
    align-items: start;
    flex-flow:column nowrap;
    width: 100%;
    padding: 5px 0px 0px 5px;
}

.product-item-tittle{
    font-weight: 600;
    font-size:20px;
    text-align: justify;
}

.product-item-author{
    font-size:16px;
}

.author-stlye{
    font-style: italic;
}

.product-item-price{
    font-size:50px;
}

.return-button:active{
    transform: scale(1.02);
}

.buy-button{
    padding: 10px;
    margin-bottom: 3rem;
    background-color: rgb(255, 81, 81);
    width:200px;
    color:white;
}

.buy-button:hover{
    background-color: rgb(1, 180, 55);
}

.buy-button:active{
    transform: scale(1.01);
}