.name-container{
    display: flex;
    flex-flow: row nowrap;
    gap:5px;
}

.name-handler{
    cursor: pointer;
}

.name-handler:hover{
    color:lightgray;
}

.options-list{
    position: absolute;
    top:50px;
    right: 0;
    padding: 8px;
    background-color: black;
}